<div class="row">
  <div class="form-group">
    <div class="col-xs-12">
      <span ng-show="alert_message"><p>{{alert_message}}</p></span>
      <form ng-submit="setSerial()" class="form-inline" role="form">
        <div class="form-group" ng-class="{'has-error' : serial_pending == true }">
          <input type="text" class="form-control input-lg" ng-model="serial" placeholder="Camera Serial" id="camera_serial_number" />
          <input type="text" class="form-control input-lg" ng-model="factory_key" placeholder="Factory Key" id="keyinput" ng-show="keyRequired()" />
          <input type="submit" class="btn btn-default btn-lg" value="Set Serial Number" />
        </div>
      </form>
    </div>
  </div>
</div>